<!DOCTYPE html>
<html>
<head>
	<title>Red Notices</title>
</head>
<body>
	<h1>Personal Information</h1>
	<p>Name: {{ data['name'] }}</p>
	<p>Forename: {{ data['forename'] }}</p>
	<p>Date of Birth: {{ data['date_of_birth'] }}</p>
	<p>Place of Birth: {{ data['place_of_birth'] }}</p>
	<p>Entity Id: {{ data['entity_id'] }}</p>
	<p>Nationalities: {{ data['nationalities'] }}</p>
	<p>Height: {{ data['height'] }}</p>
	<p>Sex Id: {{ data['sex_id'] }}</p>
	<p>Eyes Colors Id: {{ data['eyes_colors_id'] }}</p>
	<p>Hairs Id: {{ data['hairs_id'] }}</p>
	<p>Distinguishing Marks: {{ data['distinguishing_marks'] }}</p>
	<p>Issuing Country Id: {{ data['issuing_country_id'] }}</p>
	<p>Charge: {{ data['charge'] }}</p>
	<p>Charge Translation: {{ data['charge_translation'] }}</p>
	<img src="{{ data['image'] }}" alt="Resim">
</body>
</html>
